$font-montserrat: 'Montserrat', sans-serif;

$container-width: 1366px;


$color-gray-100: #FDFDFD;
$color-gray-200: #E0E0E0;
$color-gray-300: #76787D;
$color-gray-500: #333333;
$color-black: #000000;
$color-white: #ffffff;
$color-red-500: #e31e24;

$text-size-base: 16px;
$text-size-sm: 14px;
